---
layout: default
---
<div>
  <h2>Admin</h2>
  <ul>
    <li>Syllabus, slides, and problem sets on Canvas.</li>
    <li><a href="about">About me</a></h2></li>
  </ul>
  
  <h2>Lessons</h2>
  
  <ul>
    <li>Lesson 1 - Causality fundamentals<ul>
      {% for lesson in site.lessons %}
        {% if lesson.title == 'Lesson 1 - Causality fundamentals' %}
          
          <li>Reading: <a href="{{ lesson.url }}">Lesson 1 notes</a></li>
          <li>Reading: "Potential outcomes causal model" in SCMixtape</li>
          <li>Supplemental reading: Part I of MWCCI.</li>
        {% endif %}
      {% endfor %}
    </ul></li>
    
    <li>Lesson 2 - Random sampling and statistical tests
      <ul>
        <li><a href="https://colab.research.google.com/drive/1YqFxxVEr190PjuMUsxKaFmaUS7Gaa1qN"  target="_blank"> Colab notebook</a></li>
        <li>Reading: Part I of PEEGES</li>
      </ul>
    </li>
    <li>Lesson 3 - Estimation: Regression and experiments
      <ul>
        <li><a href="https://colab.research.google.com/drive/1mn3iogugMBo02uNSgjFoq3EfbZuqQfPn"  target="_blank">Colab notebook</a></li>
        <li>Reading: "Properties of Regression" in SCMixtape</li>
        <li>Supplemental readings: Chapters 4 (matching) and 5 (regression) of MWCCI.</li>
      </ul>
    </li>
    <li><a href="https://colab.research.google.com/drive/1oi1otu_ssyO-RJsH0YANn7HYKcBHeRqI"  target="_blank">Lesson 4 - Practical  complications and biased ATE estimates [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/15HffRKGBXlk_0u-IXvyza06y3Mt7_NTI" target="_blank">Lesson 5 - Practical  complications and inference [Colab notebook]</a></li>
    <li>Lesson 6 - Decision-making and experiments
      <ul>
        <li><a href="https://colab.research.google.com/drive/18YfQu3GFi8RvMD6sIdfeTrXLbxsTi5kZ" target="_blank">Colab notebook</a></li>
        <li><a href="https://colab.research.google.com/drive/1RbDfkR1jqB5xuR-YB8uJhUGf8ZQBOhbX" target="_blank">Decision strategies (bonus material) [Colab notebook]</a></li>
        <li>Reading: Kim Jae. (2015) <a href="https://mpra.ub.uni-muenchen.de/66373/1/MPRA_paper_66373.pdf" target="_blank"></a>"How to Choose the Level of Significance: A Pedagogical Note."</li>
      </ul>
    </li>
  </ul>
  
  <h2>Reference books</h2>
  Text books that directly addresss the course content. All are available as PDFs from the author or library.
  <ul>
    <li>SCMixtape = Scott Cunningham.<i><a href="http://scunning.com/cunningham_mixtape.pdf" target="_blank">Causal
    Inference: The Mixtape</a></i>. (free PDF copy)</li>
    <li>MWCCI = Morgan and Winship. <i>Counterfactuals and Causal Inference.</i> Cambridge University Press, 2007. (PDF copy at library)</li>
    <li>PEEGES = Paul Ellis. <i>The Essential Guide to Effect Sizes: Statistical Power, Meta-Analysis, and the Interpretation of Research Results.</i> Cambridge University Press, 2010. (PDF copy at library)</li>
    <li>Hernán Miguel, Robins Jamie (2020). <i><a href="https://www.hsph.harvard.edu/miguel-hernan/causal-inference-book/"  target="_blank">Causal Inference: What If.</a></i> Boca Raton: Chapman & Hall/CRC. (free PDF copy)</li>
  </ul>
  <h2>Optional readings</h2>
  A variety of interesting perspectives on experiments and economics.
  <ul>
    <li><a href="https://exp-platform.com/Documents/2019-08%20CausalDiscoveryExPRonnyK.pdf" target="_blank">
    "Trustworthy Online Controlled Experiments and the Risks of Uncontrolled Observational Studies". Ronny Kohavi. Microsoft, August 2019.</a></li>
    <li><a href="https://hbr.org/2017/09/the-surprising-power-of-online-experiments" target="_blank">"The Surprising Power of Online Experiments". Ron Kohavi and Stefan Thomke. <i>Harvard Business Review</i>, 2017.</a></li>
    <li><a href="https://content.linkedin.com/content/dam/engineering/site-assets/pdfs/ABTestingSocialNetwork_share.pdf" target="_blank">"From Infrastructure to Culture: A/B Testing Challenges in Large Scale Social Networks". Yu et al. LinkedIn, 2015.</a></li>
    <li><a href="https://hbr.org/2017/09/the-surprising-power-of-online-experiments" target="_blank">"The Surprising Power of Online Experiments". Rembrand Koning, Sharique Hasan, and Aaron Chatterj. Harvard Business School Working Paper 20-01, 2019.</a></li>
    <li><a href="https://science.sciencemag.org/content/351/6280/1433" target="_blank">"Evaluating replicability of laboratory experiments in economics". Camerer et al. <i>Science</i>, 2016.</a></li>
    <li><a href="https://www.wired.com/story/econ-statbias-study/" target="_blank">"The Dismal Science Remains Dismal, Say Scientists". Adam Rogers. <i>Wired</i>, 2017.</a></li>
    <li><a href="https://www.nature.com/articles/s41562-018-0399-z" target="_blank">"Evaluating the replicability of social science experiments in Nature and Science between 2010 and 2015". Camerer et al. <i>Nature: Human Behavior</i>, 2018.</a></li>
  </ul>
</div>