---
layout: default
---

<div>
    <h2>Admin</h2>
    	<ul>
    		<!-- <li><a href="syllabus/index.html">Syllabus</a></h2></li> -->
        <li><a href="about">About me</a></h2></li>
    	</ul>

    <h2>Lessons</h2>
    
    <ul>
    {% for lesson in site.lessons %}
    {% if lesson.title == 'Lesson 1 - Causality fundamentals' %}
      <li><a href="{{ lesson.url }}">{{ lesson.title }}</a></li>
      {% endif %}
    {% endfor %}
    <li><a href="https://colab.research.google.com/drive/1YqFxxVEr190PjuMUsxKaFmaUS7Gaa1qN">Lesson 2 - Random sampling and statistical tests [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/1mn3iogugMBo02uNSgjFoq3EfbZuqQfPn">Lesson 3 - Estimation: Regression and experiments [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/1oi1otu_ssyO-RJsH0YANn7HYKcBHeRqI">Lesson 4 - Practical  complications and biased ATE estimates [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/15HffRKGBXlk_0u-IXvyza06y3Mt7_NTI">Lesson 5 - Practical  complications and inference [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/18YfQu3GFi8RvMD6sIdfeTrXLbxsTi5kZ">Lesson 6 - Decision-making and experiments [Colab notebook]</a></li>
    <li><a href="https://colab.research.google.com/drive/1RbDfkR1jqB5xuR-YB8uJhUGf8ZQBOhbX">Lesson 6 (supplement) - Decision strategies [Colab notebook]</a></li>
    </ul>

    


    

<h2>In-class exercises</h2>
  <ul>
    <li>Lecture 1
      <ul>
      <li><a href="https://colab.research.google.com/drive/1FkuFbiMUxnoNLbY4AbIKiUWoabS95gD5" target="_blank">Law of large numbers (notebook)</a></li>
      <li><a href="https://colab.research.google.com/drive/1IjONxdsa_wUVj0Zf-7njerKjQePs9zQx" target="_blank">Selection bias (notebook)</a></li>
      <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li>
      </ul>
    </li>
    <li>Lecture 2
      <ul>
        <li><a href="https://colab.research.google.com/drive/1o3NSVt2BJiOUd99JHVqfBisA89H_e2wj" target="_blank">Exercises notebook</a></li>
      <!-- <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li> -->
      </ul>
    </li>
    <li>Lecture 3
      <ul>
        <li><a href="https://colab.research.google.com/drive/1mSIhcjoJQaoC3Hmd0BCk7JmBzOSqZHfR" target="_blank">Exercises notebook</a></li>
      <!-- <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li> -->
      </ul>
    </li>
    <li>Lecture 4
      <ul>
        <li><a href="https://colab.research.google.com/drive/1DLcFYeEKxoHvq28_g8sT5SzUx4bkHIhe" target="_blank">Exercises notebook (also Problem set 4)</a></li>
      <!-- <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li> -->
      </ul>

    <li>Lecture 5
      <ul>
        <li><a href="https://colab.research.google.com/drive/1VKgARIoBFHONuLSNBr0escmnOTUObOcE" target="_blank">Exercises notebook (also Problem set 5)</a></li>
      <!-- <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li> -->
      </ul>
    </li>

    <li>Lecture 6
      <ul>
        <li><a href="https://colab.research.google.com/drive/173oAA4PxCPFkCwwYtUkAJhKAa5Twayax" target="_blank">Exercises notebook (also Problem set 6)</a></li>
      <!-- <li><a href="lecture-01-discussions/">Readings and discussion questions</a></li> -->
      </ul>
    </li>

    


    


    <!--<li><a href="https://colab.research.google.com/drive/10InLIsOkHCfyqvYkLEqohxALnDz_LEJ9#scrollTo=WQSy98dITPyW" target="_blank">Notebook 2: Uncertainty</a></li>-->
  </ul>


<!-- <h2>Slides</h2>
  <ul>
    <li>
      <a href="https://kyleco.github.io/ec626-slides/slide-bank.html" target="_blank">
        Slide bank
      </a>
    </li>
    <li>
      <a href="https://kyleco.github.io/ec626-slides/lecture1.html" target="_blank">
        Lecture 1
      </a>
    </li>
  </ul>
-->


</div>

</div>