<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/tufte.css"/> -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML">
  </script>
  <!-- <script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"> -->
</script>
  <script type="text/x-mathjax-config"> 
    MathJax.Hub.Config({
      CommonHTML: {
          scale: 100, matchFontHeight: true, linebreaks: { automatic: false } }, 
        displayAlign: "center" });
  </script>

</head>
  

<article class="post">
  <body>
      <!-- <section>
        <p>Tufte CSS provides tools to style web articles using the ideas demonstrated by Edward Tufte’s books and handouts. Tufte’s style is known for its simplicity, extensive use of sidenotes, tight integration of graphics with text, and carefully chosen typography.</p>
        <p>Tufte CSS was created by <a href="http://www.daveliepmann.com">Dave Liepmann</a> and is now an Edward Tufte project. The original idea was cribbed from <a href="https://tufte-latex.github.io/tufte-latex/">Tufte-<span class="latex">L<span class="latex-sup">a</span>T<span class="latex-sub">e</span>X</span></a> and <a href="http://rmarkdown.rstudio.com/tufte_handout_format.html">R Markdown’s Tufte Handout format</a>. We give hearty thanks to all the people who have contributed to those projects.</p>
        <p>If you see anything that Tufte CSS could improve, we welcome your contribution in the form of an issue or pull request on the GitHub project: <a href="https://github.com/edwardtufte/tufte-css">tufte-css</a>. Please note the <a href="https://github.com/edwardtufte/tufte-css#contributing">contribution guidelines</a>.</p>
        <p>Finally, a reminder about the goal of this project. The web is not print. Webpages are not books. Therefore, the goal of Tufte CSS is not to say “websites should look like this interpretation of Tufte’s books” but rather “here are some techniques Tufte developed that we’ve found useful in print; maybe you can find a way to make them useful on the web”. Tufte CSS is merely a sketch of one way to implement this particular set of ideas. It should be a starting point, not a design goal, because any project should present their information as best suits their particular circumstances.</p>
      </section> -->
      <div id="main" role="main" class="container">
        <h1>{{ page.title }}</h1>
  <div class="entry">
    {{ content }}
  </div>
</div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <!--{% include disqus.html %}-->
</article>
</body>
</html>