<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML"></script>
    <script type="text/x-mathjax-config"> 
      MathJax.Hub.Config({
        CommonHTML: {
            scale: 100, matchFontHeight: true, linebreaks: { automatic: false } }, 
          displayAlign: "center" });
    </script>

  </head>
  
  <article class="post">
    <body>
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
  
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name}}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>
  
            <nav>
              <!-- <a href="{{ site.baseurl }}/">Blog</a> -->
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="{{ site.baseurl }}/ec626">Teaching</a>
            </nav>
          </header>
        </div>
      <div id="main" role="main" class="container">
        <h1>{{ page.title }}</h1>
        <div class="date">
          {{ page.author }} | {{ page.date | date: "%B %e, %Y" }}
        </div>
        <div class="entry">
          {{ content }}
        </div>
        
      </div>

      {% include analytics.html %}
    </body>
  </article>
</html>